.App {
  text-align: center;
  margin-top: 20px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  min-height: 50%;
  padding-bottom: 10px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.card-header-red {
  background-color: #b30000;
}

.card-header-blue {
  background-color: #2185d0;
}

.card-header-neutral {
  background-color: lightgray;
}

.vote-red {
  color: #b30000;
}

.vote-blue,
.users {
  color: #2185d0;
}

.margin {
  margin-top: 10px;
  margin-bottom: 10px;
  display: inline-block;
}

.hidden {
  display: none;
}