.App {
  text-align: center;
  margin-top: 20px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  min-height: 50%;
  padding-bottom: 10px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.card-header-red {
  background-color: #8e4a4b;
}

.card-header-blue {
  background-color: #4882b4;
}

.card-header-neutral {
  background-color: lightgray;
}

.card-red {
  border: 2px solid #8e4a4b !important;
}

.card-blue {
  border: 2px solid#4882b4 !important;
}

.card-red-header {
  color: #8e4a4b !important;
}

.card-blue-header {
  color: #4882b4 !important;
}

.vote-red,
.evil {
  color: #8e4a4b;
}

.vote-blue,
.users,
.good {
  color: #4882b4;
}

.bg-good {
  background-color: #4882b4 !important;
  color: white !important;
}

.bg-evil {
  background-color: #8e4a4b !important;
  color: white !important;
}

.margin {
  margin-top: 10px;
  margin-bottom: 10px;
  display: inline-block;
}

.hidden {
  display: none;
}

.description {
  font-size: 12px;
}

.width {
  width: 150px !important;
}

.timer {
  display: flex;
  justify-content: space-around;
  font-family: sans-serif;
  text-align: center;
}

.time {
  font-size: 12.5px;
}
